@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 1, 11, 25;
  --accent-rgb: 77, 159, 255;
}
/* Reset global styles */
* {
  margin: 2;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

