@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 1, 11, 25;
  --accent-rgb: 77, 159, 255;
}
/* Ensure body uses the correct layout and padding */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: black;
  color: rgb(var(--foreground-rgb));
  
}
